@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to catalog</h1>
    <p>Take a look at <a asp-area="" asp-controller="Products" asp-action="Index">our catalog</a>.</p>
</div>
